<html>
  <head>
    <title>Vacaciones permanentes</title>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/angular/angular.min.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/bower/moment/min/moment.min.js"></script>
    <script src="/bower/angular-moment/angular-moment.min.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <!-- rest of template -->
  <body ng-app="flapperNews" ng-controller="MainCtrl" class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Vacaciones permanentes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Registrar</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
    <div>
      <ui-view></ui-view>
    </div>
    <script type="text/ng-template" id="/travels.html">
      <div class="page-header" >
        <div class="page-header" ng-show="isLoggedIn()" >
          <h1>Mis viajes</h1>
        </div>
      <table class="table" ng-show="isLoggedIn()" >
          <tr>
      <th><a href="" ng-click="order('title')">Nombre</a></th>
      <th><a href="" ng-click="order('startDate')">Fecha inicio</a></th>
      <th><a href="" ng-click="order('endDate')">Fecha fin</a></th>
      <th><a href="" ng-click="order('created_at')">Fecha de creación</a></th>
      <th>Acciones</th>
      </tr>
          <tr  ng-repeat="travel in travels | orderBy : predicate : reverse">
            
            <td style="font-size:20px; margin-left:10px;">
              <a ng-show="travel.link" href="{{travel.link}}">
                {{travel.title}}
              </a>
              <span ng-hide="travel.link">
                {{travel.title}}
              </span>
            </td>
            <td>
              {{travel.startDate | amDateFormat:'D/MM/YYYY'}}
            </td>
            <td>
              {{travel.endDate | amDateFormat:'D/MM/YYYY'}}
            </td>
            <td am-time-ago="travel.created_at">
            </td>
            <td>
              <a href="#/travel/{{travel._id}}" class="btn btn-default btn-lg">
                Detalle
              </a>
              <button type="button" ng-click="setTravelToRemove(travel)" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
                Eliminar
              </button>
            </td>
          </tr>
      </table>
      
          <form ng-submit="addTravel()"
      ng-show="isLoggedIn()" 
            style="margin-top:30px;">
            <h3>Agregar un nuevo viaje</h3>
      
            <div class="form-group input-group">
              <span class="input-group-addon" id="basic-addon1">Nombre</span>
              <input type="text"
                class="form-control"
                placeholder="nombre"
                ng-model="title"></input>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon" id="basic-addon1">fecha inicio</span>
              <input type="date"
              class="form-control"
              placeholder="fecha inicio"
              ng-model="startDate"></input>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon" id="basic-addon1">Fecha fin</span>
              <input type="date"
              class="form-control"
              placeholder="fecha fin"
              ng-model="endDate"></input>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
          </form>
          <div ng-hide="isLoggedIn()">
             <h3>Usted necesita <a href="/#/login">iniciar sesión</a> o <a href="/#/register">registrarse</a> para ver los viajes o crear uno nuevo.</h3>
          </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Advertencia</h4>
      </div>
      <div class="modal-body">
        ¿Estas seguro que deseas eliminar el viaje?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button ng-click="removeTravel()" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
      </div>
      </div>
      </div>
      </div>
      
    </script>
    <script type="text/ng-template" id="/travel.html">
      <div class="page-header" ng-show="isLoggedIn()" >
        <h3>
          {{travel.title}}
          <span style="font-size:15px;" class="pull-right" am-time-ago="travel.created_at">
          </span>
        </h3>
      </div>
      <table class="table table-bordered table-striped" ng-show="isLoggedIn()" >
          <tr>
           <td><b>Fecha de inicio<b></td>
           <td>{{travel.startDate | amDateFormat:'D/MM/YYYY'}}</td>
          </tr>
          <tr>
           <td><b>Fecha fin<b></td>
           <td>{{travel.endDate | amDateFormat:'D/MM/YYYY'}}</td>
          </tr>
       </table>
      <div ng-repeat="destination in travel.destinations" ng-show="isLoggedIn()" >
        Destino 
        <span style="font-size:20px; margin-left:10px;">
          {{destination.body}}
        </span>
        <span style="font-size:15px; margin-left:10px;" am-time-ago="destination.created_at">
        </span>
      </div>
      
      <form ng-submit="addDestination()"
      ng-show="isLoggedIn()"
        style="margin-top:30px;">
        <h3>Agregar un nuevo destino</h3>
      
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Destino"
          ng-model="body"></input>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>Usted necesita <a href="/#/login">iniciar sesión</a> o <a href="/#/register"> registrarse</a> para agergar un comentario.</h3>
      </div>
      <a type="submit" href="/#/travels" class="btn btn-default" ng-show="isLoggedIn()">Volver</a>
    </script>
    <script type="text/ng-template" id="/register.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      
      <form ng-submit="register()"
        style="margin-top:30px;">
        <h3>Registro</h3>
      
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </script>
    <script type="text/ng-template" id="/login.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      
      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Log In</h3>
      
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>
    <script type="text/ng-template" id="/home.html">
      <div>
        <h1>Bienvenido a Vacaciones permanentes</h1>
      
        <h3>Usted necesita <a href="/#/login">iniciar sesión</a> o <a href="/#/register"> registrarse</a> para poder usar el sistema.</h3>
      
      </div>
    </script>
  </body>
</html>