<html>
  <head>
    <title>Vacaciones permanentes</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- bower:js-->
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='../bower_components/moment/moment.js'></script>
    <script src='../bower_components/angular-moment/angular-moment.js'></script>
    <script src='../bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    <script src='../bower_components/lodash/dist/lodash.compat.js'></script>
    <script src='../bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
    <script src='../bower_components/fullcalendar/dist/fullcalendar.js'></script>
    <script src='../bower_components/angular-ui-calendar/src/calendar.js'></script>
    <!-- endbower-->
    <script src="/javascripts/angularApp.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="../bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <!-- rest of template -->
  <body ng-app="vacaciones-permanentes" class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Vacaciones permanentes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Registrar</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
    <div>
      <ui-view></ui-view>
    </div>
  </body>
</html>