<style>.angular-google-map-container { height: 400px; }</style>
<div class="page-header" ng-show="isLoggedIn()" >
  <h1>
    {{travel.title}}
    <span style="font-size:15px;" class="pull-right" am-time-ago="travel.created_at">
    </span>
  </h1>
</div>
<table class="table table-bordered table-striped" ng-show="isLoggedIn()" >
  <tr>
    <td><b>Fecha de inicio<b></td>
    <td>{{travel.startDate | amDateFormat:'D/MM/YYYY'}}</td>
  </tr>
  <tr>
    <td><b>Fecha fin<b></td>
    <td>{{travel.endDate | amDateFormat:'D/MM/YYYY'}}</td>
  </tr>
</table>
<div>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" pan='true'>
  </ui-gmap-google-map>
</div>
<h2> Destinos </h2>
<div ng-repeat="destination in travel.destinations" ng-show="isLoggedIn()" >
  <span style="font-size:20px; margin-left:10px;">
    {{destination.body.vicinity}}
  </span>
</div>
<form ng-submit="addDestination()"
  ng-show="isLoggedIn()"
  style="margin-top:30px;">
  <h3>Agregar un nuevo destino</h3>
  <div class="form-group">
    <input type="text"
      class="form-control"
      placeholder="Destino"
      g-places-autocomplete
      options="destinationOptions"
      force-selection="true"
      ng-model="body"></input>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
  <a type="submit" href="/#/travels" class="btn btn-default">Volver</a>
</form>
<div ng-hide="isLoggedIn()">
  <h3>Usted necesita <a href="/#/login">iniciar sesión</a> o <a href="/#/register"> registrarse</a> para agergar un destino.</h3>
</div>
